.button
{
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  line-height: 15px;
  transition: background 0.3s ease-in-out 0s;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 140px;
}
.button-white:hover{
  background: #F57878;
}
