/*BUTTON*/
.button
{
  display: inline-block;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 12px;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out 0s;
  cursor: pointer;
}
.button-yellow{
  color: #030406;
  background: #FE7213;
}
.button-white:hover{
  background: #722626;
}
