.footer-bottom{
  padding: 15px;
  background:  #efefef;
  text-align: center;
}
.footer-nav li{
display: inline-block;
}
.footer-nav{
margin-bottom: 40px;
}
.footer-nav a{
  display: inline-block;
  padding: 5px 15px;
  color: #222;
}
.footer-bottom p{
margin: 0;
}
