.screen {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}

.verde {
  background-color: #499F68;
  border-color: #499F68;
  color: white;
}

.vermelho {
  background-color: #FF220C;
  border-color: #FF220C;
  color: white;
}

.azul {
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
}

.botoes {
  margin-top: 10px;
}

.botoes .btn {
  margin: 0 15px 0 15px;
}
