/*BUTTON*/
.button
{
  display: inline-block;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 12px;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out 0s;
  cursor: pointer;
}
.button-white{
  color: #B32626;
  background: #FFF;
}
.button-white:hover{
  background: #F57878;
}
