/*HISTORIA*/
.no-banner{
  padding-top: 120px;
}
.container2{
  text-align: right;
  padding: 30px;
}
.container1{
  padding: 30px;
}
.container2 img{
  float: right;
  height: 90px;
  padding: 10px;
  }
.container1 img{
  float: left;
  height: 90px;
  padding: 10px;
}
h3{
  color: #F57878;
}
