/*SERVICOS*/
.no-banner{
  padding-top: 90px;
}
.container1{
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,2);
}
.container1 img{
  width: 150px;
  float: left;
  margin: 0 15px 15px 0;
}
.container1 h3{
  font-size: 22px;
  color:#F57878;
}
.container1 p{
 font-size: 16px;
 padding: 15px;
}
