.flag{
  width: 300px;
  }
.square {
  width: 400px;;
  cursor: pointer;
  margin-right: 20px;
  display: inline-block;
}

.container div{
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  }

  .container{
    max-width: 980px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
  }
